@model ProjectShopCMS.DAL.User
@{
    ViewBag.Title = "ثبت نام";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
        <h1>@Model.UserName با تشکر از ثبت نام ضما</h1>
            <p>ایمیلی حاوی لینک فعال سازی به ایمیلی با مشخصات @Model.Email ارسال شد لطفاً وارد ایمیل خود شوید و روی لینک کلیک نمایید  </p>
        </div>
    </div>
</div>
